.common-header{
    position: relative;
    color: #060438;
    width: 100%;
    height: 58px;
}

.commmon-header-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-width: 1640px;
    margin-right: auto;
    margin-left: auto;

}

.commmon-header-content > section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.commmon-header-content > section:nth-child(1) {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    column-gap: 16px;

}

.page-headline{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
}

.page-title{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.commmon-header-content > section > button{
    width: 56px;
    height: 56px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
}

.common-header-icon{
    border-right: solid 1px #ddd;
    border-left: none;
    height: 46px;
    width: calc(46px + 16px);
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}