.dashboard-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.dashboard-grid > section{
    width: calc(100% - 20px);
    min-height: 140px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 219, 219);
}